

.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posts_card{
    width: 40vw;
    margin: 1.5rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.design{
    font-size: 3rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}


